<h1>Welcome To MEAN Games!</h1>
<br>
<h5>Explore Amazing board games</h5> <br>
<div style="margin: 5px; padding: 5px; text-align: center;">
<img src="../../assets/images/board-game3.jpeg" style="width: 350px;height: 300px; border-radius: 10px; padding: 3px;"/>
<img src="../../assets/images/board-game4.jpg" style="width: 350px;height: 300px; border-radius: 10px; padding: 3px;"/>
<img src="../../assets/images/board-game2.jpg" style="width: 350px;height: 300px; border-radius: 10px; padding: 3px;"/>
<img src="../../assets/images/board-game.jpeg" style="width: 350px;height: 300px; border-radius: 10px; padding: 3px;"/>

</div>